{{ define "title" }} Out Of Order Band {{end}} {{ define "main" }}
<div class="speech-bubble">
  <a href="/contact">
    <h4>Click to get in touch!</h4>
  </a>
</div>
<div class="ns-gigs">
  <div class="gallery">
    <a data-fancybox="" data-ratio="2" href="https://youtu.be/Tb7MtoenHZk">
      <span class="video-thumbnail">
        <img
          src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
          data-src="https://img.youtube.com/vi/Tb7MtoenHZk/0.jpg"
        />
      </span>
    </a>
    <a data-fancybox="" data-ratio="2" href="https://youtu.be/_R1O5ASm72M">
      <span class="video-thumbnail">
        <img
          src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
          data-src="https://img.youtube.com/vi/_R1O5ASm72M/0.jpg"
        />
      </span>
    </a>
    <a data-fancybox="" data-ratio="2" href="https://youtu.be/WvTcMcugGRE">
      <span class="video-thumbnail">
        <img
          src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
          data-src="https://img.youtube.com/vi/WvTcMcugGRE/0.jpg"
        />
      </span>
    </a>
  </div>
  <br />

  <h1 class="ns-h1">
    {{ (now.AddDate -1 0 0).Year }}/{{ substr (now.Year) 2 2 }}&nbsp;Gigs
  </h1>
  <ul>
    <!-- prettier-ignore -->
    {{ range sort $.Site.Data.gigs "Date" "desc" }}
    {{ $dateformat := now.Format "2006-01-02" }}
    {{ if gt .Date "2019-01-01" }}
        {{ if gt .Date $dateformat }}
    <li class="ns-notpassed">
      {{ dateFormat "Monday, Jan 2, 2006" .Date }}
      <a href="{{ .URL }}" target="_blank">{{ .Location}}</a>
    </li>
    {{ else }}
    <li class="ns-strikethrough">
      {{ dateFormat "Monday, Jan 2, 2006" .Date }}
      <a href="{{ .URL }}" target="_blank">{{ .Location}}</a>
    </li>
    {{ end }} {{ end }} {{ end }}
    <!-- prettier-ignore-end-->
  </ul>
</div>
{{end}}
