    <!-- prettier-ignore-->
    {{ partial "htmlhead.html" . }}
    {{ partial "menu.html" . }}
    {{ partial "header.html" . }}

    <!-- List Posts-->
    <main itemprop="mainEntity" itemscope="" itemtype="http://schema.org/Blog" class="ns-main"> 
       {{ range .Paginator.Pages }}
       <!-- prettier-ignore-end-->
        <div class="post container" itemscope="" itemtype="http://schema.org/BlogPosting" itemprop="blogPost"> 
          <header>
             <h1 itemprop="name headline"><a href="{{.URL}}" rel="canonical" itemprop="url">{{.Title}}</a></h1>

            <time datetime={{.Date }} itemprop="datePublished">Published {{ dateFormat "Monday, Jan 2, 2006" .Date }}</time>

            {{ if .Params.tags }}<span class="ns-tags">| Tags: {{range .Params.tags}}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}</span>{{end}}


            {{ if .Params.categories }}<div><strong>Categories:</strong> {{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}</div>{{end}}

            {{ if .Params.moods }}<div><strong>Moods:</strong> {{range .Params.moods}}<a href="{{ "/moods/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}</div>{{end}}

          </header>

          <div itemprop="articleBody">
            <p class="ns-post-summary">{{.Summary}}            
              {{ if .Truncated }}          
              <span class="ns-readmore">
                <a href="{{ .RelPermalink }}">➡️</a>
              </span>             
              {{ end }}
              </p>
          </div>
        </div>
        <hr/>
        {{ end }} 
        {{ $paginator := .Paginate (where .Site.Pages "Type" "post") 2 }}
        <div class="ns-totalpages">{{$paginator.PageNumber }} of {{ $paginator.TotalPages }}</div>

        {{ partial "pagination.html" . }}            
      </main> 

    <!-- End List Posts--> 

    <!-- prettier-ignore-->
    {{ partial "footer" . }}  
    {{ partial "pwa.html" . }}
    {{ partial "script.html" . }}
    {{ partial "htmlbase.html" . }}
    <!-- prettier-ignore-end-->
  </body>
</html>

