{{ define "title" }} Out Of Order Band Set List {{end}} {{ define "main" }}
<div class="speech-bubble">
  <a href="/contact">
    <h4>Click to get in touch!</h4>
  </a>
</div>
<div class="ns-setlist-shell">
    <div class="ns-setlist">
      <h1 class="ns-h1-setlist">Sample Set List</h1>
    <ul class="ns-setlist-details">
      <li>BOYS DON'T CRY (The Cure)</li>
      <li>HALF THE WORLD AWAY (Oasis)</li>
      <li>GOOD SOULS (Starsailor)</li>
      <li>THIS LIFE (Vampire Weekend)</li>
      <li>THREE MORE DAYS (Ray Lamontagne)</li>
      <li>INTO THE MYSTIC (Van Morrison)</li>
      <li>THE WEIGHT (The Band)</li>
      <li>MARDY BUM (The Arctic Monkeys)</li>
      <li>PUMP IT UP (Elivis Costello)</li>
      <li>RAMBLE ON (Led Zeppelin)</li>
      <li>TIMES LIKE THESE (Foo Fighters)</li>
      <li>--BREAK--</li>
      <li>TOWN CALLED MALICE (The Jam)</li>
      <li>LA WOMAN (The Doors)</li>
      <li>MOLLY'S CHAMBERS (Kings of Leon)</li>
      <li>USE SOMEBODY (Kings of Leon)</li>
      <li>BOYS IN THE BETTER LAND (Fontaines DC)</li>
      <li>COMFORTABLY NUMB (Pink Floyd)</li>
      <li>EVER FALLEN IN LOVE (Buzzcocks)</li>
      <li>DAKOTA (The Stereophonics)</li>
      <li>CHELSEA DAGER (The Fratellis)</li>
      <li>SYMPATHY FOR THE DEVIL (The Rolling Stones)</li>
      <li>VOODOO CHILD (Jimi Hendrix)</li>
    </ul>
</div>
</div>
{{ end }}
