{{ define "main" }}
<main itemprop="mainEntity" itemscope="" itemtype="http://schema.org/Blog" class="ns-main"> 
  <h1>{{ .Title }}</h1>
  <div class="ns-postdate">  
      <time datetime={{.Date }} itemprop="datePublished">Published {{ dateFormat "Monday, Jan 2, 2006" .Date }}</time>
      {{ if .Params.tags }}<span class="ns-tags">| Tags: {{range .Params.tags}}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}</span>{{end}}   
      <hr/>
    </div>
    <div id="ns-target">
      {{ .Content }} 
    </div>
<button class="ns-share-btn" type="button" title="Share this article">
  <svg class="ns-share-icon">
    <use href="#share-icon"></use>
  </svg>
  <span>Share Article</span>
</button>

<svg class="ns-hidden">
  <defs>
    <symbol id="share-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-share"><path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"></path><polyline points="16 6 12 2 8 6"></polyline><line x1="12" y1="2" x2="12" y2="15"></line></symbol> 
   </defs>
</svg>
 </main>
{{ end }}
