{{ define "title" }} Out Of Order Band Videos {{end}} {{ define "main" }}

<div class="ns-gigs">
  <div class="gallery">
    <div class="video-thumbnail">
      <a data-fancybox href="https://youtu.be/_R1O5ASm72M">
        <img
          class="card-img-top img-fluid"
          src="https://img.youtube.com/vi/_R1O5ASm72M/0.jpg"
        />
      </a>
      <div class="card-body">
        <p class="card-text">Direct link to YouTube</p>
      </div>
  </div>
    </a>
    <div class="video-thumbnail">
      <a data-fancybox href="https://youtu.be/_R1O5ASm72M">
        <img
          class="card-img-top img-fluid"
          src="https://img.youtube.com/vi/_R1O5ASm72M/0.jpg"
        />
      </a>
      <div class="card-body">
        <p class="card-text">Direct link to YouTube</p>
      </div>
  </div>
    <div class="video-thumbnail">
      <a data-fancybox href="https://youtu.be/_R1O5ASm72M">
        <img
          class="card-img-top img-fluid"
          src="https://img.youtube.com/vi/_R1O5ASm72M/0.jpg"
        />
      </a>
      <div class="card-body">
        <p class="card-text">Direct link to YouTube</p>
      </div>
  </div>
      <div class="video-thumbnail">
      <a data-fancybox href="https://youtu.be/_R1O5ASm72M">
        <img
          class="card-img-top img-fluid"
          src="https://img.youtube.com/vi/_R1O5ASm72M/0.jpg"
        />
      </a>
      <div class="card-body">
        <p class="card-text">Direct link to YouTube</p>
      </div>
  </div>
      <div class="video-thumbnail">
      <a data-fancybox href="https://youtu.be/_R1O5ASm72M">
        <img
          class="card-img-top img-fluid"
          src="https://img.youtube.com/vi/_R1O5ASm72M/0.jpg"
        />
      </a>
      <div class="card-body">
        <p class="card-text">Direct link to YouTube</p>
      </div>
  </div>
      <div class="video-thumbnail">
      <a data-fancybox href="https://youtu.be/_R1O5ASm72M">
        <img
          class="card-img-top img-fluid"
          src="https://img.youtube.com/vi/_R1O5ASm72M/0.jpg"
        />
      </a>
      <div class="card-body">
        <p class="card-text">Direct link to YouTube</p>
      </div>
  </div>
      <div class="video-thumbnail">
      <a data-fancybox href="https://youtu.be/_R1O5ASm72M">
        <img
          class="card-img-top img-fluid"
          src="https://img.youtube.com/vi/_R1O5ASm72M/0.jpg"
        />
      </a>
      <div class="card-body">
        <p class="card-text">Direct link to YouTube</p>
      </div>
  </div>
      <div class="video-thumbnail">
      <a data-fancybox href="https://youtu.be/_R1O5ASm72M">
        <img
          class="card-img-top img-fluid"
          src="https://img.youtube.com/vi/_R1O5ASm72M/0.jpg"
        />
      </a>
      <div class="card-body">
        <p class="card-text">Direct link to YouTube</p>
      </div>
  </div>
      <div class="video-thumbnail">
      <a data-fancybox href="https://youtu.be/_R1O5ASm72M">
        <img
          class="card-img-top img-fluid"
          src="https://img.youtube.com/vi/_R1O5ASm72M/0.jpg"
        />
      </a>
      <div class="card-body">
        <p class="card-text">Direct link to YouTube</p>
      </div>
  </div>
      <div class="video-thumbnail">
      <a data-fancybox href="https://youtu.be/_R1O5ASm72M">
        <img
          class="card-img-top img-fluid"
          src="https://img.youtube.com/vi/_R1O5ASm72M/0.jpg"
        />
      </a>
      <div class="card-body">
        <p class="card-text">Direct link to YouTube</p>
      </div>
  </div>
      <div class="video-thumbnail">
      <a data-fancybox href="https://youtu.be/_R1O5ASm72M">
        <img
          class="card-img-top img-fluid"
          src="https://img.youtube.com/vi/_R1O5ASm72M/0.jpg"
        />
      </a>
      <div class="card-body">
        <p class="card-text">Direct link to YouTube</p>
      </div>
  </div>
      <div class="video-thumbnail">
      <a data-fancybox href="https://youtu.be/_R1O5ASm72M">
        <img
          class="card-img-top img-fluid"
          src="https://img.youtube.com/vi/_R1O5ASm72M/0.jpg"
        />
      </a>
      <div class="card-body">
        <p class="card-text">Direct link to YouTube</p>
      </div>
  </div>
      <div class="video-thumbnail">
      <a data-fancybox href="https://youtu.be/_R1O5ASm72M">
        <img
          class="card-img-top img-fluid"
          src="https://img.youtube.com/vi/_R1O5ASm72M/0.jpg"
        />
      </a>
      <div class="card-body">
        <p class="card-text">Direct link to YouTube</p>
      </div>
  </div>
      <div class="video-thumbnail">
      <a data-fancybox href="https://youtu.be/_R1O5ASm72M">
        <img
          class="card-img-top img-fluid"
          src="https://img.youtube.com/vi/_R1O5ASm72M/0.jpg"
        />
      </a>
      <div class="card-body">
        <p class="card-text">Direct link to YouTube</p>
      </div>
  </div>  
  

   
  </div>
</div>
{{ end }} {{ define "footer" }}

<div style="height: 35px"></div>
<footer>
  <div>
    <p>Copyright (c) {{now.Year}} Out Of Order Band</p>
  </div>
</footer>
{{end}}
