{{ define "title" }} Out Of Order Band Videos {{end}} {{ define "main" }}
<div class="speech-bubble">
  <a href="/contact">
    <h4>Click to get in touch!</h4>
  </a>
</div>

<div class="ns-gigs">
  <div class="gallery">
    <div>
      <a data-fancybox="" data-ratio="2" href="https://youtu.be/_R1O5ASm72M">
        <span class="video-thumbnail">
          <img
            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            data-src="https://img.youtube.com/vi/_R1O5ASm72M/0.jpg"
          />
        </span>
      </a>
      <p>Half A Chance (lockdown special)</p>
    </div>

    <div>
      <a data-fancybox="" data-ratio="2" href="https://youtu.be/qwdLN900A6U">
        <span class="video-thumbnail">
          <img
            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            data-src="https://img.youtube.com/vi/qwdLN900A6U/0.jpg"
          />
        </span>
      </a>
      <p>Fake Plastic Trees (lockdown special)</p>
    </div>
    <div>
      <a data-fancybox="" data-ratio="2" href="https://youtu.be/Tb7MtoenHZk">
        <span class="video-thumbnail">
          <img
            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            data-src="https://img.youtube.com/vi/Tb7MtoenHZk/0.jpg"
          />
        </span>
      </a>
      <p>Voodoo Child (lockdown special)</p>
    </div>
    <div>
      <a data-fancybox="" data-ratio="2" href="https://youtu.be/NxRQcCAWs8U">
        <span class="video-thumbnail">
          <img
            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            data-src="https://img.youtube.com/vi/NxRQcCAWs8U/0.jpg"
          />
        </span>
      </a>
      <p>Sunrise Again (lockdown special)</p>
    </div>

    <div>
      <a data-fancybox="" data-ratio="2" href="https://youtu.be/RfhY24fYCug">
        <span class="video-thumbnail">
          <img
            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            data-src="https://img.youtube.com/vi/RfhY24fYCug/0.jpg"
          />
        </span>
      </a>
      <p>Jamming With The Next Generation</p>
    </div>

    <div>
      <a data-fancybox="" data-ratio="2" href="https://youtu.be/-B7ZAM8DkLg">
        <span class="video-thumbnail">
          <img
            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            data-src="https://img.youtube.com/vi/-B7ZAM8DkLg/0.jpg"
          />
        </span>
      </a>
      <p>Times Like These (rehearsal)</p>
    </div>

    <div>
      <a data-fancybox="" data-ratio="2" href="https://youtu.be/WvTcMcugGRE">
        <span class="video-thumbnail">
          <img
            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            data-src="https://img.youtube.com/vi/WvTcMcugGRE/0.jpg"
          />
        </span>
      </a>
      <p>Busking In Salisbury</p>
    </div>

    <div>
      <a data-fancybox="" data-ratio="2" href="https://youtu.be/tky2rBvPH00">
        <span class="video-thumbnail">
          <img
            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            data-src="https://img.youtube.com/vi/tky2rBvPH00/0.jpg"
          />
        </span>
      </a>
      <p>Times Like These Live</p>
    </div>

    <div>
      <a data-fancybox="" data-ratio="2" href="https://youtu.be/2gswjVqM9IE">
        <span class="video-thumbnail">
          <img
            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            data-src="https://img.youtube.com/vi/2gswjVqM9IE/0.jpg"
          />
        </span>
      </a>
      <p>Rudy At Mr Kyps</p>
    </div>

    <div>
      <a data-fancybox="" data-ratio="2" href="https://youtu.be/ZWi0NO0uUX0">
        <span class="video-thumbnail">
          <img
            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            data-src="https://img.youtube.com/vi/ZWi0NO0uUX0/0.jpg"
          />
        </span>
      </a>
      <p>Walk On The Wild Side</p>
    </div>

    <div>
      <a data-fancybox="" data-ratio="2" href="https://youtu.be/-z0dY0gehng">
        <span class="video-thumbnail">
          <img
            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            data-src="https://img.youtube.com/vi/-z0dY0gehng/0.jpg"
          />
        </span>
      </a>
      <p>In Between Days</p>
    </div>

    <div>
      <a data-fancybox="" data-ratio="2" href="https://youtu.be/rBAUsWFBCK0">
        <span class="video-thumbnail">
          <img
            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            data-src="https://img.youtube.com/vi/rBAUsWFBCK0/0.jpg"
          />
        </span>
      </a>
      <p>Drops Of Jupiter</p>
    </div>
    <div>
      <a data-fancybox="" data-ratio="2" href="https://youtu.be/LH3ZiwC5eA4">
        <span class="video-thumbnail">
          <img
            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            data-src="https://img.youtube.com/vi/LH3ZiwC5eA4/0.jpg"
          />
        </span>
      </a>
      <p>Underdog</p>
    </div>

    <div>
      <a data-fancybox="" data-ratio="2" href="https://youtu.be/lc4qyOsxA-U">
        <span class="video-thumbnail">
          <img
            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            data-src="https://img.youtube.com/vi/lc4qyOsxA-U/0.jpg"
          />
        </span>
      </a>
      <p>Dakota</p>
    </div>

    <div>
      <a data-fancybox="" data-ratio="2" href="https://youtu.be/bkq7sTnp7mY">
        <span class="video-thumbnail">
          <img
            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            data-src="https://img.youtube.com/vi/bkq7sTnp7mY/0.jpg"
          />
        </span>
      </a>
      <p>She's So Mean</p>
    </div>
  </div>
</div>
{{ end }}
