{{ define "title" }} Out Of Order Band Videos {{end}} {{ define "main" }}

<div class="ns-gigs">
  <div class="gallery">
    <a data-fancybox="" data-ratio="2" href="https://youtu.be/_R1O5ASm72M">
      <span class="video-thumbnail">
        <img src="https://img.youtube.com/vi/Tb7MtoenHZk/0.jpg" />
      </span>
    </a>
    <a data-fancybox="" data-ratio="2" href="https://youtu.be/_R1O5ASm72M">
      <span class="video-thumbnail">
        <img src="https://img.youtube.com/vi/_R1O5ASm72M/0.jpg" />
      </span>
    </a>
    <a data-fancybox="" data-ratio="2" href="https://youtu.be/WvTcMcugGRE">
      <span class="video-thumbnail">
        <img src="https://img.youtube.com/vi/WvTcMcugGRE/0.jpg" />
      </span>
    </a>
    <a data-fancybox="" data-ratio="2" href="https://youtu.be/_R1O5ASm72M">
      <span class="video-thumbnail">
        <img src="https://img.youtube.com/vi/Tb7MtoenHZk/0.jpg" />
      </span>
    </a>
    <a data-fancybox="" data-ratio="2" href="https://youtu.be/_R1O5ASm72M">
      <span class="video-thumbnail">
        <img src="https://img.youtube.com/vi/_R1O5ASm72M/0.jpg" />
      </span>
    </a>
    <a data-fancybox="" data-ratio="2" href="https://youtu.be/WvTcMcugGRE">
      <span class="video-thumbnail">
        <img src="https://img.youtube.com/vi/WvTcMcugGRE/0.jpg" />
      </span>
    </a>
    <a data-fancybox="" data-ratio="2" href="https://youtu.be/_R1O5ASm72M">
      <span class="video-thumbnail">
        <img src="https://img.youtube.com/vi/Tb7MtoenHZk/0.jpg" />
      </span>
    </a>
    <a data-fancybox="" data-ratio="2" href="https://youtu.be/_R1O5ASm72M">
      <span class="video-thumbnail">
        <img src="https://img.youtube.com/vi/_R1O5ASm72M/0.jpg" />
      </span>
    </a>
    <a data-fancybox="" data-ratio="2" href="https://youtu.be/WvTcMcugGRE">
      <span class="video-thumbnail">
        <img src="https://img.youtube.com/vi/WvTcMcugGRE/0.jpg" />
      </span>
    </a>
    <a data-fancybox="" data-ratio="2" href="https://youtu.be/_R1O5ASm72M">
      <span class="video-thumbnail">
        <img src="https://img.youtube.com/vi/Tb7MtoenHZk/0.jpg" />
      </span>
    </a>
    <a data-fancybox="" data-ratio="2" href="https://youtu.be/_R1O5ASm72M">
      <span class="video-thumbnail">
        <img src="https://img.youtube.com/vi/_R1O5ASm72M/0.jpg" />
      </span>
    </a>
    <a data-fancybox="" data-ratio="2" href="https://youtu.be/WvTcMcugGRE">
      <span class="video-thumbnail">
        <img src="https://img.youtube.com/vi/WvTcMcugGRE/0.jpg" />
      </span>
    </a>
  </div>

  {{end}} {{ define "footer" }}

  <div style="height: 35px"></div>
  <footer>
    <div>
      <p>Copyright (c) {{now.Year}} Out Of Order Band</p>
    </div>
  </footer>
  {{end}}
</div>
