<!-- prettier-ignore -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    {{ partial "criticalcss.html" . }}
    <title>{{ .Title }}</title>
    <meta
      name="Keywords"
      content="Technology, IT, Education, Software, Security"
    />
    <meta
      name="Description"
      content="Head of Information Services, Web Technologist &amp;amp; Musician, based on the Wiltshire, Dorset &amp; Somerset border in the UK.  Offering honest independent advice on all things web, security and general IT; with a splash of added music for the soul."
    />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1"
    />
    <meta name="robots" content="index,follow" />
    <meta name="Author" content="normansolutions.co.uk" />
    <meta name="language" content="EN" />
    <meta name="Classification" content="" />
    <meta
      name="copyright"
      content="Copyright (c) {{now.Year}} 'normansolutions.co.uk' All rights reserved."
    />
    <meta name="revisit-after" content="7 days" />
    <meta name="document-classification" content="Technology" />
    <meta name="document-type" content="Public" />
    <meta name="document-rating" content="Safe for Kids" />
    <meta name="document-distribution" content="Global" />
    <link rel="me" type="text/html" href="https://twitter.com/normansolutions" />
    <link
      type="application/rsd+xml"
      rel="edituri"
      title="RSD"
      href="robots.txt"
    />
    <link rel="canonical" href="https://normansolutions.co.uk" />
    <meta name="application-name" content="Normansolutions" />
    <meta name="msapplication-TileColor" content="#ffffff" />

    <meta property="og:title" content="NS News and Views" />
    <meta property="og:type" content=article />   
    <meta
      property="og:description"
      content="Head of Information Services, Web Technologist &amp;amp; Musician, based on the Wiltshire, Dorset &amp; Somerset border in the UK.  Offering honest independent advice on all things web, security and general IT; with a splash of added music for the soul."
    />
    <meta
      property="og:image"
      content="https://normansolutions.co.uk/appicons/Icon-568.jpg"
    />
    <meta property="og:url" content="https://normansolutions.co.uk" />
    <meta property=og:description content="Head of Information Services, Web Technologist &amp;amp; Musician, based on the Wiltshire, Dorset &amp; Somerset border in the UK.  Offering honest independent advice on all things web, security and general IT; with a splash of added music for the soul.">

    <meta name="twitter:title" content="NS News and Views" />
    <meta
      name="twitter:description"
      content="Head of Information Services, Web Technologist &amp;amp; Musician, based on the Wiltshire, Dorset &amp; Somerset border in the UK.  Offering honest independent advice on all things web, security and general IT; with a splash of added music for the soul."    />
    <meta name="twitter:image" content="/appicons/Icon-568.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="manifest" href="/manifest.json" />

    {{ partial "style.html" . }}
    <!--[if IE]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.2.0/es5-shim.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
    <![endif]-->

    <!-- ns-to detect if can use webp and avif -->
    <script>
      !(function (document) {
        "use strict";
        var webpImage,
          avifImage =
            "data:image/avif;base64,AAAAIGZ0eXBhdmlmAAAAAGF2aWZtaWYxbWlhZk1BMUEAAADybWV0YQAAAAAAAAAoaGRscgAAAAAAAAAAcGljdAAAAAAAAAAAAAAAAGxpYmF2aWYAAAAADnBpdG0AAAAAAAEAAAAeaWxvYwAAAABEAAABAAEAAAABAAABGgAAAF0AAAAoaWluZgAAAAAAAQAAABppbmZlAgAAAAABAABhdjAxQ29sb3IAAAAAamlwcnAAAABLaXBjbwAAABRpc3BlAAAAAAAAAAIAAAACAAAAEHBpeGkAAAAAAwgICAAAAAxhdjFDgS0AAAAAABNjb2xybmNseAACAAIAAIAAAAAXaXBtYQAAAAAAAAABAAEEAQKDBAAAAGVtZGF0EgAKBzgAPtAgIAkyUBAAAPWc41TP///4gHBX9H8XVK7gGeDllq8TYARA+8Tfsv7L+zPE24eIoIzE0WhHbrqcrTK9VEgEG/hwgB5rdCbvP8g3KYPdV88CvPJnptgQ",
          webpClass = "webp",
          avifClass = "avif";
        function alreadyTested(format) {
          if (window.sessionStorage) {
            var test = window.sessionStorage.getItem(format + "Support");
            if ("false" === test || "true" === test) return "true" === test;
          }
          return null;
        }
        function testFormat(format, imageSrc, callback) {
          var tested = alreadyTested(format);
          if (null === tested) {
            var image = new Image();
            return (
              (image.onload = image.onerror = function () {
                callback(format, 2 === image.height);
              }),
              void (image.src = imageSrc)
            );
          }
          addClass(format, tested);
        }
        function addClass(format, support) {
          if (support) {
            var el = document.documentElement;
            el.classList
              ? el.classList.add("webp" === format ? "webp" : "avif")
              : (el.className += " " + format == "webp" ? "webp" : "avif"),
              window.sessionStorage.setItem(format + "Support", !0);
          } else window.sessionStorage.setItem(format + "Support", !1);
        }
        testFormat(
          "webp",
          "data:image/webp;base64,UklGRi4AAABXRUJQVlA4TCEAAAAvAUAAEB8wAiMwAgSSNtse/cXjxyCCmrYNWPwmHRH9jwMA",
          addClass
        ),
          testFormat("avif", avifImage, addClass);
      })(document);
    </script>

    <script src="https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver"></script>
  </head>
  <body itemscope itemtype=http://schema.org/WebPage></body>
</html>
