<nav class="pagination container" aria-label="Pagination">
  {{ $pag := $.Paginator }} {{ if gt $pag.TotalPages 1 }} {{ if $pag.HasPrev }}

  <a href="{{ $pag.Prev.URL }}" rel="next" class="page-link">Newer &raquo;</a>
  {{ end }} {{/* {{ range $pag.Pagers }} {{ if eq . $pag }} {#
  <li class="page-item active">
    <a href="{{ .URL }}" class="page-link">{{ .PageNumber }}</a>
  </li>
  {{ else }}
  <li class="page-item">
    <a href="{{ .URL }}" class="page-link">{{ .PageNumber }}</a>
  </li>
  #} {{ end }} {{ end }} */}} {{ if $pag.HasNext }}

  <a href="{{ $pag.Next.URL }}" rel="prev" class="page-link">&laquo; Older</a>

  {{ end }} {{ end }}

  <br /><br />
</nav>
